Django>=5.2.7
djangorestframework>=3.16.1
django-filter>=25.1
drf-redesign>=0.6.0
daphne>=4.2.1
Twisted[tls,http2]
django-debug-toolbar>=6.0.0
asgiref>=3.10.0
channels>=4.3.1
requests>=2.32.4
python-dotenv>=1.1.1
pillow>=11.3.0
tzdata>=2025.2
magika>=0.6.2
colorlog>=6.9.0
markdown>=3.9