#meeting-panel {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    margin-top: 0.5em;
    gap: 0.5em;
}

.round-container {
    background-color: rgba(255, 255, 255, 0.2);
}

#meeting-info-panel {
    flex: 2;
    background-color: rgba(255, 255, 255, 0.2);
}

#meeting-info-content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.meeting-info-content {
    flex: 1;
}

#meeting-actions-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

#meeting-actions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    height: 100%;
}

#meeting-actions-content md-filled-button, md-filled-tonal-button {
    width: 100%;
}

#meeting-description {
    max-height: 20em;
    overflow: auto;
    background-color: #8e8e8e;
}

#meeting-description h1 {
    font-size: 1.75em;
    margin: 0.4em 0;
}

#meeting-description h2 {
    font-size: 1.5em;
    margin: 0.4em 0;
}

#meeting-description h3 {
    margin: 0.4em 0;
}

#meeting-description p {
    margin: 0.2em 0;
}

#meeting-description ul ol {
    margin: 0.2em 0;
}

#meeting-description img {
    max-width: 100%;
    height: auto;
}

#meeting-description blockquote {
    margin: 0.5em 0;
    padding-left: 1em;
    border-left: 4px solid #ccc;
    color: #555;
}

#meeting-description pre {
    background-color: #272727;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}

#meeting-description table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

.member-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.member-indicator .member-avatar {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.member-indicator .member-name {
    margin-left: 0.2em;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5em;
    width: 100%;
}

.list-container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.collapse-button {
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 100ms ease-in-out, transform 300ms ease-in-out;
}

.collapse-button[expanded] {
    transform: rotate(180deg);
}

.collapse-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.list-content {
    width: 100%;
    margin-top: 0.25em;
    background-color: darkgray;
    transition: max-height 300ms ease-in-out;
    overflow: hidden;
    max-height: 0;
}

.list-content[expanded] {
    max-height: 50vh;
    overflow: auto;
}

.list-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.vertical-spacer {
    margin: 0 7px 0 9px;
    width: 2px;
    border-left: 1px solid black;
    height: -webkit-fill-available;
}

.item-text, .item-text strong {
    color: black;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.absent-request-member {
    flex: 2;
    justify-content: center;
}

.absent-request-reason {
    flex: 3;
}

.absent-request-result {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-uuid {
    flex: 2;
}

.sign-in-creator {
    flex: 1;
    justify-content: center;
}

.sign-in-period {
    flex: 1;
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-member {
    flex: 2;
    justify-content: center;
}

.record-method {
    flex: 1;
}

.record-signed-at {
    flex: 2;
}
