#meetings-list {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 0.5em;
}

#meetings-list-content {
    background-color: darkgray;
}

.meeting-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.vertical-spacer {
    margin: 0 7px 0 9px;
    width: 2px;
    border-left: 1px solid black;
    height: -webkit-fill-available;
}

.meeting-item-text {
    color: black;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meeting-item-text strong {
    color: black;
}

.list-head {
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.list-head:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.meeting-id {
    flex: 1;
}

.meeting-name {
    flex: 3;
}

.meeting-host {
    flex: 2;
}

.member-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.member-indicator .member-avatar {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.member-indicator .member-name {
    color: black;
    margin-left: 0.2em;
    text-align: start;
}

.meeting-time {
    flex: 2;
}

.meeting-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meeting-location {
    flex: 2;
}

.meeting-can-absent {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meeting-req-count {
    flex: 1;
}

.symbol-green {color: #3eff3e !important;}

.symbol-yellow {color: #ffff5d !important;}

.symbol-red {color: #ff4c4c !important;}