{% extends "base.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'js/Auth/password_change.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/Auth/password_change.css' %}">
    <title>變更密碼</title>
{% endblock %}

{% block main_content %}
    <div class="soft-container" id="password-change-container">
        <h1 style="margin: 0.3em 0;">變更密碼</h1>
        <div class="round-container" id="error-container">
            <div class="panel-title">
                <span class="material-symbols-outlined" style="font-size: xx-large">error</span>
                <span class="panel-title-text">錯誤</span>
            </div>
            <div id="vertical-spacer"></div>
            <span id="error-text"></span>
        </div>
        <form method="post" style="width: 100%;">
            {% csrf_token %}
            <div style="display: flex; gap: 0.5em; margin-top: 0.5em; width: 100%;">
                <div class="round-container" id="form-container">
                    <md-filled-text-field name="old-password" label="原密碼" type="password" minlength="6"
                                          required></md-filled-text-field>
                    <md-filled-text-field name="new-password" id="new-password-input" label="新密碼" type="password"
                                          minlength="6"
                                          required></md-filled-text-field>
                    <md-filled-text-field name="new-password-confirm" id="new-password-confirm-input" label="確認新密碼"
                                          type="password" minlength="6"
                                          required></md-filled-text-field>
                </div>
            </div>
            <md-filled-button id="submit-button" style="margin-top: 0.5em; width: 100%;">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <span class="material-symbols-outlined button-icon">check</span>
                    <span>更新密碼</span>
                </div>
            </md-filled-button>
        </form>
    </div>
{% endblock %}