* {
    font-family: "Roboto Mono", monospace;
    color: white;
}

md-icon {
    font-family: 'Material Symbols Outlined';
}

:root {
    --md-sys-color-primary: rgb(17, 37, 96);
    --md-sys-color-secondary: rgb(30, 66, 166);
    --md-sys-color-error: rgb(218, 18, 18);
    --md-list-container-color: rgba(0, 0, 0, 0);
}

html {
    background-color: rgba(0, 16, 71, 0.81);
}

header {
    background-color: #012A5E;
    box-shadow: 0 7px 13px 0 rgba(0,0,0,0.37);
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin-top: 0;
    z-index: 1000;
    transition: all 0.1s;
}

header.collapsed {
    margin-top: -100%;
}

.logo {
    background-image: url("/static/img/7636.png");
    background-size: cover;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 70px; /* Adjust for header height */
    width: 100%;
}

.divider {
    height: 1px;
    border-top: black 1px solid;
    padding: 0 1em;
}

/* Style for panels */

.soft-container {
    padding-top: 70px; /* Adjust for header height */
    display: flex;
    flex-direction: column;
    align-items: start;
}

.round-container {
    border-radius: 10px;
    padding: 0.5em;
    box-sizing: border-box;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.panel-title {
    display: flex;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
}

.panel-title-icon {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 40;
    font-size: xx-large;
}

.panel-title-text {
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 0.2em;
}

/* End of panel styles */

.header-img {
    width: 3em;
    height: 3em;
    margin: 0.6em;
}

#header-home-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-title {
    color: white;
    font-size: 1.3em;
}

#header-spacer {
    flex: 1;
}

#header-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-info-text {
    color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-overflow: ellipsis;
    overflow: hidden;
}

#user-name {
    font-size: 1em;
}

#user-id {
    font-size: 0.5em;
}

#user-avatar-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-btn {
    position: absolute;
    z-index: 2;
    color: lightgray;
    border: none;
    padding: 0;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    opacity: 0;
    transition: ease-in-out 0.1s;
}

.log-btn:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

#user-avatar {
    background-size: cover;
    border-radius: 50%;
}

#collapse-btn {
    position: fixed;
    right: 0;
    top: 70px;
    z-index: 2000;
    border: none;
    background-color: #012A5E;
    box-shadow: -4px 7px 13px 0 rgba(0,0,0,0.37);
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

#collapse-btn.collapsed {
    top: 0;
}