.meetings-list-div {
    flex: 1;
    height: 50%;
    overflow: hidden;
    background-color: lightgray;
}

.meetings-list {
    overflow-y: auto;
    height: calc(100% - 1.5em);
}

.meeting-text {
    color: black;
}

.meeting-divider {
    border-color: darkgray;
}

p {
    margin: 0.1em;
}

.inner-container {
    margin: 0.25em;
}

#member-panel {
    width: -webkit-fill-available;
    margin-top: 0.5em;
    background-color: rgba(255, 255, 255, 0.25); /* Light background for contrast */
}

#announcement {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(182, 159, 53, 0.6);
}

#announcement-vertical-spacer {
    margin: 0 7px 0 9px;
    width: 2px;
    border-left: 2px solid white;
    height: -webkit-fill-available;
}

#announcement-content {
    display: inline-block;
    flex: 9;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
}

#function-panels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: -webkit-fill-available;
}

.panel {
    flex: 1;
    height: -webkit-fill-available;
    background-color: rgba(48, 44, 194, 0.5);
}

#content-height-ref {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

#profile-avatar {
    height: 7em;
    width: 7em;
    border-radius: 50%;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.25);
    align-self: center;
    margin: 0.5em;
}

#meetings-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
}

#warning-history-container {
    width: 100%;
}

#warning-points-history {
    width: -webkit-fill-available;
    height: calc(100% - 2.5em - 0.5em - 0.5em);
}

.points-safe {
    background-color: rgba(25, 192, 25, 0.5);
}

.points-warning {
    background-color: rgba(255, 217, 25, 0.5);
}

.points-danger {
    background-color: rgba(251, 58, 58, 0.7);
}

#warning-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25em;
    width: -webkit-fill-available;
}

#warn-status-text {
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#warning-points-history {
    margin-top: 0.5em;
    background-color: lightgray;
}

#warning-history-list-container {
    height: calc(100% - 1em - 0.5em);
    overflow-y: auto;
}

.list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.list-item-note {
    font-size: 0.8em;
    font-style: italic;
}

.list-item-content span {
    color: black;
}

.pts-indicator {
    font-size: large;
    font-weight: bold;
}

.pts-positive {
    color: #af0000 !important;
}

.pts-negative {
    color: #007a00 !important;
}

.list-item-text {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.list-item-subtitle {
    font-size: 0.85em;
}

.member-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.member-indicator .member-avatar {
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.member-indicator .member-name {
    margin-left: 0.2em;
}

#service-panels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /*margin-top: 0.5em;*/
    width: 100%;
    gap: 0.5em;
}

.service-panel {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: -webkit-fill-available;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    margin-top: 0.25em;
    width: 100%;
    height: 100%;
}