#error-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0.5em 0;
    background-color: rgba(235, 88, 88, 0.5);
}

#vertical-spacer {
    margin: 0 7px 0 9px;
    width: 2px;
    border-left: 2px solid white;
    height: -webkit-fill-available;
}

#form-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}