{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block head %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endcompress %}
    <title>首頁</title>
{% endblock %}

{% block main_content %}
    <div class="container" id="default-home-container" style="height: -webkit-fill-available;">
        <img src="{% static 'img/7636.png' %}" alt="Team Logo" id="team-logo">
        <h1>歡迎使用 Robomania Bot 線上管理介面</h1>
        <p>此介面目前僅供本隊隊員使用，並未向外界開放。</p>
        <p>如果你是隊員，請 <a href="{% url 'login' %}">點此登入</a> 。</p>
    </div>
{% endblock %}