{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block head %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/Uploader/password.css' %}">
    {% endcompress %}
    <title>此檔案受密碼保護</title>
{% endblock %}

{% block main_content %}
    <div class="soft-container" id="uploader-password-container">
        <h1>此檔案受密碼保護</h1>
        {% if error %}
            <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 1.2em">
                <span class="material-symbols-outlined" style="color: var(--md-sys-color-error)">error</span>
                <span style="color: var(--md-sys-color-error)">&nbsp;{{ error }}</span>
            </div>
        {% endif %}
        <form class="round-container" id="uploader-password-form" method="POST">
            {% csrf_token %}
            <md-filled-text-field name="password" label="請輸入密碼" type="password"
                                  style="width: 30vw;" required></md-filled-text-field>
            <md-filled-button>
                <div style="display: flex; align-items: center; height: min-content;">
                    <span class="material-symbols-outlined button-icon">
                        check
                    </span>確認
                </div>
            </md-filled-button>
        </form>
    </div>
{% endblock %}